{% extends 'partials/base.html' %}

{% load static %}



<head>
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/articles.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    {% endblock %}

</head>


{% block content %}
<div class='section'>
    <span class="section_title">Твой цикл</span>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <a href="https://teletype.in/@lunatrack/Your_Cycle-Exploring_Monthly_Changes" class="swiper-slide">
                <img src="{% static 'img/cards/section_1/card_1.jpg' %}">
                <div class="card_text">
                    <span class="card_title">Цикл</span>
                    <p class="card_description">Исследование ежемесячных изменений</p>
                </div>
            </a>
            <a href="https://teletype.in/@lunatrack/Your_cycle-proper_nutrition" class="swiper-slide">
                <img src="{% static 'img/cards/section_1/card_2.jpg' %}">
                <div class="card_text">
                    <span class="card_title">Питание и цикл</span>
                    <p class="card_description">Как поддерживать гормональный баланс через питание</p>
                </div>
            </a>
            <a href="https://teletype.in/@lunatrack/Your_cycle-Emotional_Well_Being_and_the_Cycle" class="swiper-slide">
                <img src="{% static 'img/cards/section_1/card_3.jpg' %}">
                <div class="card_text">
                    <span class="card_title">Эмоциональное благополучие и цикл</span>
                    <p class="card_description">Как управлять своими эмоциями в течение менструального цикла</p>
                </div>
            </a>
            <a href="https://teletype.in/@lunatrack/Your_cycle-Physical_Activity_and_Cycle" class="swiper-slide">
                <img src="{% static 'img/cards/section_1/card_4.jpg' %}">
                <div class="card_text">
                    <span class="card_title">Физическая активность и цикл</span>
                    <p class="card_description">Как поддерживать здоровье через активный образ жизни</p>
                </div>
            </a>
            <a href="https://teletype.in/@lunatrack/Your_cycle-Sleep_and_cycle" class="swiper-slide">
                <img src="{% static 'img/cards/section_1/card_5.jpg' %}">
                <div class="card_text">
                    <span class="card_title">Сон и цикл</span>
                    <p class="card_description">Как влияет качество сна на ваше здоровье в течение менструального цикла</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class='section'>
    <span class="section_title">Здоровье 360°</span>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <a href="https://teletype.in/@lunatrack/Health_360_How_to_Cover_All_Aspects_of_Wellness_ru" class="swiper-slide">
                <img src="{% static 'img/cards/section_2/card_1.jpg' %}">
                <div class="card_text">
                    <span class="card_title">Как охватить все аспекты самочувствия</span>
                    <p class="card_description">В наше время забота о здоровье — это...</p>
                </div>
            </a>
            <a href="https://teletype.in/@lunatrack/Health_360_How_to_Successfully_Recover_from_Stress" class="swiper-slide">
                <img src="{% static 'img/cards/section_2/card_2.jpg' %}">
                <div class="card_text">
                    <span class="card_title">Как успешно восстанавливаться после стресса</span>
                    <p class="card_description">Стресс — это неизбежная часть нашей жизни</p>
                </div>
            </a>
            <a href="https://teletype.in/@lunatrack/Health_360_The_Impact_of_Sleep_on_Overall_Well_Bei" class="swiper-slide">
                <img src="{% static 'img/cards/section_2/card_3.jpg' %}">
                <div class="card_text">
                    <span class="card_title">Влияние сна на общее благополучие</span>
                    <p class="card_description">Многие недооценивают важность сна а ведь качественный отдых...</p>
                </div>
            </a>
            <a href="https://teletype.in/@lunatrack/Health_360_Nutrition_as_the_basis_of_your_well_bei" class="swiper-slide">
                <img src="{% static 'img/cards/section_2/card_4.jpg' %}">
                <div class="card_text">
                    <span class="card_title">Питание как основа вашего благополучия</span>
                    <p class="card_description">Правильное питание — это основа концепции Здоровье 360°</p>
                </div>
            </a>
            <a href="https://teletype.in/@lunatrack/Health_360_How_emotions_affect_your_physical_condi" class="swiper-slide">
                <img src="{% static 'img/cards/section_2/card_5.jpg' %}">
                <div class="card_text">
                    <span class="card_title">Как Эмоции Влияют на Ваше Физическое Состояние</span>
                    <p class="card_description">Зачастую мы склонны думать о здоровье исключительно в...</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class='section'>
    <span class="section_title">Планирование беременности</span>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <a href="#" class="swiper-slide">
                <!-- <img src="{% static 'img/cards/section_3/card_1.jpg' %}"> -->
                <div class="card_text">
                    <span class="card_title">Чёт тут пиздец интересное</span>
                    <p class="card_description">The Akita is a powerful, dominant and loyal breed, co</p>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <!-- <img src="{% static 'img/cards/section_3/card_2.jpg' %}"> -->
                <div class="card_text">
                    <span class="card_title">Чёт тут пиздец интересное</span>
                    <p class="card_description">The Akita is a powerful, dominant and loyal breed, co</p>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <!-- <img src="{% static 'img/cards/section_3/card_3.jpg' %}"> -->
                <div class="card_text">
                    <span class="card_title">Чёт тут пиздец интересное</span>
                    <p class="card_description">The Akita is a powerful, dominant and loyal breed, co</p>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <!-- <img src="{% static 'img/cards/section_3/card_4.jpg' %}"> -->
                <div class="card_text">
                    <span class="card_title">Чёт тут пиздец интересное</span>
                    <p class="card_description">The Akita is a powerful, dominant and loyal breed, co</p>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <!-- <img src="{% static 'img/cards/section_3/card_5.jpg' %}%}"> -->
                <div class="card_text">
                    <span class="card_title">Чёт тут пиздец интересное</span>
                    <p class="card_description">The Akita is a powerful, dominant and loyal breed, co</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class='section'>
    <span class="section_title">Беременность</span>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <a href="#" class="swiper-slide">
                <!-- <img src="{% static 'img/cards/section_4/card_1.jpg' %}"> -->
                <div class="card_text">
                    <span class="card_title">Чёт тут пиздец интересное</span>
                    <p class="card_description">The Akita is a powerful, dominant and loyal breed, co</p>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <!-- <img src="{% static 'img/cards/section_4/card_2.jpg' %}"> -->
                <div class="card_text">
                    <span class="card_title">Чёт тут пиздец интересное</span>
                    <p class="card_description">The Akita is a powerful, dominant and loyal breed, co</p>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <!-- <img src="{% static 'img/cards/section_4/card_3.jpg' %}"> -->
                <div class="card_text">
                    <span class="card_title">Чёт тут пиздец интересное</span>
                    <p class="card_description">The Akita is a powerful, dominant and loyal breed, co</p>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <!-- <img src="{% static 'img/cards/section_4/card_4.jpg' %}"> -->
                <div class="card_text">
                    <span class="card_title">Чёт тут пиздец интересное</span>
                    <p class="card_description">The Akita is a powerful, dominant and loyal breed, co</p>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <!-- <img src=".{% static 'img/cards/section_4/card_5.jpg' %}"> -->
                <div class="card_text">
                    <span class="card_title">Чёт тут пиздец интересное</span>
                    <p class="card_description">The Akita is a powerful, dominant and loyal breed, co</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class='section' id='end_section'>
    <span class="section_title">Родительство</span>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <a href="#" class="swiper-slide">
                <!-- <img src="{% static 'img/cards/section_5/card_1.jpg' %}"> -->
                <div class="card_text">
                    <span class="card_title">Чёт тут пиздец интересное</span>
                    <p class="card_description">The Akita is a powerful, dominant and loyal breed, co</p>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <!-- <img src="{% static 'img/cards/section_5/card_2.jpg' %}"> -->
                <div class="card_text">
                    <span class="card_title">Чёт тут пиздец интересное</span>
                    <p class="card_description">The Akita is a powerful, dominant and loyal breed, co</p>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <!-- <img src="{% static 'img/cards/section_5/card_3.jpg' %}"> -->
                <div class="card_text">
                    <span class="card_title">Чёт тут пиздец интересное</span>
                    <p class="card_description">The Akita is a powerful, dominant and loyal breed, co</p>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <!-- <img src="{% static 'img/cards/section_5/card_4.jpg' %}"> -->
                <div class="card_text">
                    <span class="card_title">Чёт тут пиздец интересное</span>
                    <p class="card_description">The Akita is a powerful, dominant and loyal breed, co</p>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <!-- <img src="{% static 'img/cards/section_5/card_5.jpg' %}"> -->
                <div class="card_text">
                    <span class="card_title">Чёт тут пиздец интересное</span>
                    <p class="card_description">The Akita is a powerful, dominant and loyal breed, co</p>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}

{% block script%}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script type="text/javascript" src="{% static 'js/articles.js' %}"></script>


{% endblock%}