<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" type="image/png" href="../static/Images/Logo.png">
    <title>LunaTrack</title>
</head>
<body>
    <div class="container">
        <header>
            <a href='#' id="avatar"></a>
            <button type="submit" onclick="openSettings()" id="settings">
                <img src="../static/Images/Setting.svg">
            </button>
            <div class="settingsPopup" id="settingsPopup">
                <div class="settings_header">Настройки</div>
                <span class="settings_title">LunaTracker</span>
                <img src="../static/Images/Logo.png" class="settings_logo">
                <div class="dark_mode">
                    <span class="dark_mode_title">Dark Mode</span>
                    <label class="switch">
                        <input type="checkbox" id="themeToggle" class="switch__input" onchange="ChangeTheme(this.checked)">
                        <span class="switch__slider"></span>
                    </label>
                </div>
                <button id="en" class="translate">en</button>
                <button id="ru" class="translate">ru</button>
                <p id="user-info"></p>
                <button type="button" onclick="closeSettings()">OK</button>

                <div class="project_version">v1.0.0</div>
            </div>
        </header>
        <main>
            <div class="main_calendar">
                <p id="mounth"></p>
                <ul class="weekdays">
                    <li class='Mon lang' key="mon">Пн</li>
                    <li class='Tue lang' key="tue">Вт</li>
                    <li class='Wed lang' key="wed">Ср</li>
                    <li class='Thu lang' key="thu">Чт</li>
                    <li class='Fri lang' key="fri">Пт</li>
                    <li class='Sat lang' key="sat">Сб</li>
                    <li class='Sun lang' key="sun">Вс</li>
                </ul>
                <ul class="dayscircles">
                    <li id="Mon"></li>
                    <li id="Tue"></li>
                    <li id="Wed"></li>
                    <li id="Thu"></li>
                    <li id="Fri"></li>
                    <li id="Sat" class="saturday"></li>
                    <li id="Sun" class="sunday"></li>
                </ul>
            </div>
            <div class="circle">
                <p>Цикл через:</p>
                <span id='period_days'></span>
                <span id='pregnancy_chance' class="lang" key="pregnancy_chance">Вероятность забеременеть </span>
                <button id='mark_bottom' type="submit" onclick="OpenMarkPeriod()">Отметить месячные</button>
                <!-- <a href="#" id='mark_bottom'>Отметить месячные</a> -->
            </div>
            <div class="advertising">
                <div class="ad_left">
                    <span>Представляем LunaPro</span>
                    <p>Типичный новостной блок сюда <br>можно рекламу <b>закрыть только Pro</b></p>
                    <a href="#" id='ad_bottom'>Попробовать</a>
                </div>
                <div class="ad_right">
                    <a href="#">
                        <img src="../static/Images/Close.svg">
                    </a>
                </div>
            </div>
        </main>
    </div>
    <div class="calendar" id='calendar'>
        <div class="calendar-header">
            <span class="month-picker" id="month-picker">Февраль</span>
            <span id="year"></span>
        </div>
        <div class="calendar-body">
            <div class="calendar-week-day">
                <div class='lang' key="mon">Пн</div>
                <div class='lang' key="tue">Вт</div>
                <div class='lang' key="wed">Ср</div>
                <div class='lang' key="thu">Чт</div>
                <div class='lang' key="fri">Пт</div>
                <div class='lang' key="sat">Сб</div>
                <div class='lang' key="sun">Вс</div>
            </div>
            <div class="calendar-days"></div>
        </div>
        <div class="calendar-footer">
            <button class="CloseMarkPeriod" type="button" onclick="CloseMarkPeriod()" key="close">Закрыть</button>
        </div>
        <div class="month-list"></div>
    </div>
    <div class="calendar_day" id="cal_day">
        <span id="cal_day_title" key="cal_day_title" class="lang"></span>
        <!-- <span>Hello</span> -->
        <button class="CloseCalDay" type="button" onclick="CloseCalDay()" key="close">Закрыть</button>
    </div>
    <footer>
        <div class="heart">
            <a href="./index.html">
                <img src="../static/Images/Heart.svg">
                <span>Календарь</span>
            </a>
        </div>
        <div class="articles">
            <a href="./articles.html">
                <img src="../static/Images/Articles.svg">
                <span>Статьи</span>
            </a>
        </div>
        <div class="lunapro">
            <a href="./lunapro.html">
                <img src="../static/Images/Luna_pro.svg">
                <span>LunaPro</span>
            </a>
        </div>
    </footer>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/translate.js"></script>
</body>
</html>
